$icon-font-path: '../fonts/';

// bower:scss
@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
// endbower

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

$main-text-red: #ed4a4a;
$main-text-navi: #003672;
$main-text-blue: #006ce5;
$main-text-dark: #757575;
$main-text-white: #fff;
$browser-xs-viewport: 320; // Default
$browser-640-viewport: 640; // Default

@function vw320($pixels, $context: $browser-xs-viewport) {
  @return #{$pixels/$context*100}vw;
}

@function vw640($pixels, $context: $browser-640-viewport) {
  @return #{$pixels/$context*100}vw;
}



$main-font: 'Open Sans';

/*disable elastic scroll*/
html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

/* Space out content a bit */
body {
  .Open-Sans-bold-700 {
    font-family: 'Open Sans','Noto Sans TC','Lantinghei','微軟正黑體' !important;
    font-style: normal;
    font-weight: 700;
  }
  .Open-Sans-bold-600 {
    font-family: 'Open Sans','Noto Sans TC','Lantinghei','微軟正黑體' !important;
    font-style: normal;
    font-weight: 600;
  }
  a:focus{
    outline: none;
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  background:#ebf0f2;

  /* Make the masthead heading the same height as the navigation */
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: $main-text-red;
    text-align: center;
    line-height: vw320(50);
    font-size: vw320(30);
  }
}

.container{
  padding:0;
  .background{
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
    &:before{
      content:'';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top:0;
      left:0;
    }
    @for $i from 1 to 101 {
      &.darken-#{$i} {
        &:before{
          background: rgba(0,0,0, $i/100 );
        }
      }
    }
    >*{
      position: relative;
      z-index: 1;
    }
  }
  .vertical-middle{
    &:before{
      height: 100%;
      content:'';
      display: inline-block;
      vertical-align: middle;
    }
    >*{
      vertical-align: middle;
    }
  }
  .vertical-bottom{
    &:before{
      height: 100%;
      content:'';
      display: inline-block;
      vertical-align: middle;
    }
    >*{
      vertical-align: bottom;
      display: inline-block;
    }
  }
  .text-white{
    color:#fff;
  }
  .text-red{
    color:$main-text-red;
  }
  .text-navi{
    color:$main-text-navi;
  }
  .text-blue{
    color:$main-text-blue;
  }
  .text-transparent{
    color:rgba(0,0,0,0);
  }
  .text-dark{
    color: $main-text-dark;
  }
  ol, ul{
    padding: 0;
    margin: 0;
    li{
      list-style: none;
    }
  }
  .functions{
    height: vw320(100);
    a{
      img{
        width: vw320(134);
      }
    }
  }
}
.index-content{
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: 0.45s opacity 0s, 0s height 0.45s;
  .logo{
    text-align: center;
    height: vw320(125);
  }
  .scratch-sample{
    height: vw320(200);
    .card{
      width: vw320(202);
      height: vw320(160);
      background-image: url(../images/index/scratch-sample-bg.png);
      background-size: cover;
      background-position: center;
      display: inline-block;
      article{
        height: vw320(118);
        margin: vw320(20) vw320(20) vw320(20) vw320(18) ;
        position: relative;;
        padding-top: vw320(20);
        line-height: 1;
        span{
          line-height: 1;
          transform: none;
        }
      }
      .result{
        font-size:vw320(23.25);
      }
      .coupon{
        font-size: vw320(30);
        display: block;
        text-align: center;
        &.sub{
          font-size: vw320(21);
        }
      }
      .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: url(../images/index/scratch-overlay.png);
        background-size: cover;
        background-position: center;
      }
    }

  }
}
.scratch-sample{
  height: vw640(540);
  .card{
    width: vw640(522);
    height: vw640(413);
    background-image: url(../images/index/scratch-bg.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    article{
      height: vw640(316);
      margin: vw640(52) vw640(48) vw640(52) vw640(48) ;
      position: relative;;
      padding-top: vw320(20);
      line-height: 1;
      >span{
        transform:scale(1.3);
        line-height: 1.5;
      }
    }
    .result{
      font-size:vw320(23.25);
    }
    .coupon{
      font-size: vw320(30);
      display: block;
      text-align: center;
      &.sub{
        font-size: vw320(21);
      }
    }
    .scratch-pad{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-size: cover;
      background-position: center;
      canvas{
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
  &.col-3{
    display: block;
    width: vw640(600);
    height: vw640(534);
    margin-left: vw640(20);
    margin-top: vw640(34);
    margin-bottom: vw640(34);
    &:before{
      display: none;
    }
    .card{
      background-image: url(../images/common/scratch-3col-bg.png);
      width:100%;
      height: 100%;
      article{
        width: vw640(175);
        height: vw640(366);
        float: left;
        overflow: hidden;
        margin: vw640(115) vw640(7.5) 0;
        padding-top: 21%;
        background: url(../images/index/scratch-bg.png) center;
        .result{
          font-size: vw320(14);
        }
        .coupon{
          font-size: vw320(18);
        }
        .coupon.sub{
          font-size: vw320(16);
        }
        &:first-child{
          margin-left: vw640(23);
        }
      }
    }
  }
  &.col-3-vertical{
    width: vw640(472);
    height: vw640(1052);
    margin-left: vw640(83);
    margin-top: vw640(35);
    margin-bottom: vw640(34);
    &:before{
      display: none;
    }
    .card{
      background-image: url(../images/common/scratch-3col-v-bg.png);
      width:100%;
      height: 100%;
      article{
        width: vw640(405);
        height: vw640(198);
        float: left;
        overflow: hidden;
        margin: vw640(30) 0 0 vw640(33);
        padding-top: 2%;
        background: url(../images/index/scratch-bg.png) center;
        background-size: 120% auto;
        border:5px solid #fff;
        .result{
          font-size: vw320(14);
        }
        .coupon{
          font-size: vw320(18);
        }
        .coupon.sub{
          font-size: vw320(16);
        }
        &:first-child{
          margin-top: vw640(92);
        }
      }
    }
  }

}
.scratch-content{
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: 0.45s opacity 0s, 0s height 0.45s;
  .logo{
    text-align: center;
    height: vw640(175);
    img{
      width: vw320(45);
    }
  }
  .functions{
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.45s opacity 0s, 0s height 0.45s;
  }
}
.legal-term{
  margin-top: -1000vh;
  top:vw320(77.5);
  opacity: 0;
  overflow: hidden;
  position:absolute;
  left:0;
  background: rgba(0,0,0,0.8);
  box-shadow: vw320(6) vw320(9) vw320(18);
  z-index: 1;
  padding:vw640(70) vw640(76) 0 vw640(84);
  transition: 0.45s opacity 0s, 0s margin 0.46s;
  .range{
    height:vw640(450);
    overflow: auto;
    font-size: vw320(12);
    font-family: 'Noto Sans TC','microsoft jhenghei';
    ol{
      padding: 1.1em;
      li{
        list-style: decimal; 
      }
    }
  }
  .functions{
    a{
      img{
        width: vw320(77);
      }
    }
  }

}
.coupon-content{
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: 0.45s opacity 0s, 0s height 0.45s;
  background-image: url(../images/wheel/wheel-background.png);
  font-size:vw320(10);
  font-weight: lighter;
  .coupon-head{
    margin:0 auto 0;
    background-image:url(../images/coupon/coupon-background-head.png);
    background-size:100% auto;
    height: vw320(339);
    width: vw320(292);
    .logo{
      height: vw320(65);
      img{
        height: percentage(45/65);
      }
    }
  }
  .coupon-mid{
    margin:0 auto 0;
    background-image:url(../images/coupon/coupon-background.png);
    background-size:100% auto;
    height: auto;
    width: vw320(292);
    padding:vw320(20) vw320(60);
  }
  .coupon-butt{
    padding-top: vw320(90);
    margin:0 auto 0;
    background-image:url(../images/coupon/coupon-background-butt.png);
    background-size:100% auto;
    height: vw320(349);
    width: vw320(292);
  }
  .coupon-text{
    margin-top:vw320(80);
    span{
      display: block;
      line-height: 1.05;
      white-space: nowrap;
      &:nth-child(1){
        font-size: vw320(20.38);
      }
      &:nth-child(2){
        font-size: vw320(26.31);
      }
      &:nth-child(3){
        font-size: vw320(18.42);
      }
    }
  }
  .qrcode{
    width: 100%;
    position:relative;
    margin-top: 35px;
    img{
      width: vw320(78);
    }
  }
  h3{
    margin:0 0 vw320(10);
    font-size: vw320(14);
  }
  ol{
    padding-left:vw320(25);
    padding-right:vw320(25);
    padding-bottom:vw320(10);
    li{
      list-style: decimal;
      padding-bottom:vw320(5);
    }
  }
  p{
    margin:0 0 vw320(10);
  }
  .mappin{
    width: vw320(13);
    margin-right: vw320(5);
    display: inline-block;
  }
  .address{
    >span{
      display: inline-block;
      width: calc(100% - 8vw);
    }
  }
  .counter{
    margin-top:0;
    font-size: vw320(20);
    word-spacing: vw320(5);
    padding-left: vw320(5);
  }
  .functions{
    margin-top: vw320(125);
    letter-spacing: vw320(68);
    padding-left: vw320(5);
    a{
      width: vw320(35);
      display: inline-block;
      img{        
        max-width: 100%;
      }
    }
  }
}

.form-content{
  background-image: url(../images/wheel/wheel-background.png);
  height: 0;
  overflow: hidden;
  opacity: 0;
  .logo{
    height: vw320(55);
    img{
      height: percentage(45/55);
    }
  }
  .form{
    padding-top:vw320(60);
    form{
      background: url(../images/index/form-background.png) no-repeat;
      background-size: cover;
      background-position: center;
      width: vw320(292);
      height: vw320(370);
      display: inline-block;
      input{
        position:absolute;
        top: vw320(280);
        background: rgba(0, 0, 0, 0);
        border: 0;
        height: vw320(27);
        left: vw320(110);
        position: absolute;
        top: vw320(276);
        width: vw320(150);
      }
      .functions{
        height: vw320(315);
        a{
          background: none;
          border:0;
          padding:0;
          margin:0;
          opacity: .96;
          img{
            width: vw320(117);
          }
          &:hover,&:focus,&:active{
            opacity: 1;
          }
        }
      }
    }
  }
}
.form-sms-content{
  background-image: url(../images/wheel/wheel-background.png);
  height: 0;
  overflow: hidden;
  opacity: 0;
  .logo{
    height: vw320(55);
    img{
      height: percentage(45/55);
    }
  }
  .form{
    padding-top:vw320(60);
    form{
      background: url(../images/index/form-sms-background.png) no-repeat;
      background-size: cover;
      background-position: center;
      width: vw320(292);
      height: vw320(370);
      display: inline-block;
      input{
        position:absolute;
        top: vw320(280);
        background: rgba(0, 0, 0, 0);
        border: 0;
        height: vw320(27);
        left: vw320(110);
        position: absolute;
        top: vw320(276);
        width: vw320(150);
      }
      .functions{
        height: vw320(315);
        a{
          background: none;
          border:0;
          padding:0;
          margin:0;
          opacity: .96;
          &:hover,&:focus,&:active{
            opacity: 1;
          }
          img{
            width: vw320(117);
          }
        }
      }
    }
  }
}
.thankyou-content{
  background-image: url(../images/wheel/wheel-background.png);
  height: 0;
  overflow: hidden;
  opacity: 0;
  .logo{
    height: vw320(55);
    img{
      height: percentage(45/55);
    }
  }
  .info{
    background: url(../images/index/fin.png) no-repeat;
    background-size: cover;
    background-position: center; 
    width: vw320(294);
    height: vw320(534);
    display: inline-block;
    input{
      position:absolute;
      top: vw320(280);
      background: rgba(0, 0, 0, 0);
      border: 0;
      height: vw320(27);
      left: vw320(110);
      position: absolute;
      top: vw320(276);
      width: vw320(150);
    }
    .functions{
      height: vw320(315);
    }
  }
}
// stages 
body{
  &.index{
    .index-content{
      height: vw320(430);
      min-height: 100vh;
      opacity: inherit;
      transition: 0.45s opacity 0s, 0s height 0.45s;
    }
  }
  &.legal{
    .legal-term{
      margin-top: 0;
      opacity: inherit;
      transition: 0.45s opacity 0s, 0s margin 0s;
      &:before{
        height: 100vh;
        width: 100vw;
        top:0;
        left: 0;
        position:fixed;
        z-index: -1;
        content:'';
      }
    }
    .scratch-content{
      height: vw320(430);
      opacity: inherit;
      transition: 0.45s opacity 0s, 0s height 0.45s;
      min-height: 100vh;
    }
    .scratch-sample.col-3{
      display: none;
    }
    .scratch-sample.col-3-vertical{
      display: none;
    }
  }
  &.scratch{
    .scratch-content{
      height: vw320(430);
      opacity: inherit;
      transition: 0.45s opacity 0s, 0s height 0s;
      min-height: 100vh;
    }
    .scratch-sample.col-3{
      display: none;
    }
    .scratch-sample.col-3-vertical{
      display: none;
    }
  }
  &.scratch-done{
    .scratch-content{
      height: vw320(430);
      opacity: inherit;
      transition: 0.45s opacity 0s, 0s height 0s;
      min-height: 100vh;
    }
    .scratch-sample.col-3{
      display: none;
    }
    .scratch-sample.col-3-vertical{
      display: none;
    }
    .functions{
      height: vw640(100);
      opacity: inherit;
      transition: 0.45s opacity swing 0s, 0s height 0s;
    }
  }
  &.coupon{
    .coupon-content{
      padding-top: vw320(40);
      height: auto;
      padding-bottom:vw320(20);
      min-height:100vh;
      opacity: inherit;
      transition: 0.45s opacity 0s, 0s height 0s;
      .functions{
        height: vw320(39);
        a{
          img{
            width: vw320(77);
          }
        }
      }
      .scratch-sample{
        height: vw320(240);
        position:relative;
        &:after{
          content:'';
          position:absolute;
          top:0;
          left:0;
          width: 100%;
          height: 100%;
        }
        .card{
          position:relative;
          &:after{
            background:#EDEDED;
            width: calc(100% - 1px);
            height: vw320(15);
            bottom:0;
            left: 0;
            content: '';
            position: absolute;
          }
        }
        &.col-3{
          display: none;
        }
        &.col-3-vertical{
          display: none;
        }
      }
    }
  }
  &.email{
    .form-content{
      opacity: 1;
      height: auto;
      min-height: 100vh;
      transition: 0.45s opacity 0s, 0s height 0s;
    }
  }
  &.sms{
    .form-sms-content{
      opacity: 1;
      height: auto;
      min-height: 100vh;
      transition: 0.45s opacity 0s, 0s height 0s;
    }
  }
  &.thankyou{
    .thankyou-content{
      padding-top: vw320(60);
      padding-bottom: vw320(20);
      opacity: 1;
      height: auto;
      min-height: 100vh;
      transition: 0.45s opacity 0s, 0s height 0s;
    }
    .share{
      position:absolute;
      top:vw320(215);
      left: vw320(78);
      img{
        width:vw320(21);
      }
    }
    .zip{
      position:absolute;
      top:vw320(283);
      left: vw320(100);
      font-size: vw320(8);
    }
    .address{
      position:absolute;
      top:vw320(295);
      left: vw320(100);
      font-size: vw320(8);
      max-width: vw320(150);
    }
    .expired{
      position:absolute;
      top:vw320(336);
      left: vw320(165);
      font-size: vw320(8);
    }
  }
  &.col-3{
    &.scratch, &.scratch-done, &.legal,&.form-content,&.form-sms-content,&.thankyou-content{
      .scratch-content{
        height: vw320(465);
      }
      .scratch-sample{
        display: none;
        &.col-3{
          display: block;
          width: vw640(600);
          height: vw640(534);
        }
      }
    }
    &.coupon{
      .coupon-content .qrcode{
        margin-top: vw320(-90);
      }
      .scratch-sample{
        display: none;
        &.col-3 {
            display: block;
            margin: 18px auto;
            transform-origin:center 5vw 1px;
            transform: scale(0.60) ;
            background:#e9e9e9;
            .card{
              background-image:none;
            }
        }
      }
    }
  }
  &.col-3-vertical{
    &.scratch, &.scratch-done, &.legal,&.form-content,&.form-sms-content,&.thankyou-content{
      .scratch-content{
        height: vw320(580);
      }
      .scratch-sample{
        display: none;
        &.col-3-vertical{
          display: block;
          width: vw640(472);
          height: vw640(788);
        }
      }
    }
    &.coupon{
      .coupon-content .qrcode{
        margin-top: vw320(-90);
      }
      .scratch-sample{
        display: none;
        &.col-3-vertical{
          display: block;
          width: 100%;
          margin:0;
          height: vw640(534);
          transform-origin:center 21vw 1px;
          transform: scale(0.380) ;
          background:#e9e9e9;
          .card{
            margin-top: vw640(-110);
            margin-left: vw640(70);
            background-image:none;
          }
        }
      }
    }
  }
}

//--